
include header
body
    div#containsAll
        h1 Welcome to User App
        h2 Add A User Below:
        form.colForm(action='/addUser' method='POST')
            +textInput('User Name: ', 'userName')
            +emailInput('Email: ', 'email')
            +ageInput('Age: ', 'age')
            +textInput('First Name: ', 'firstName')
            +textInput('Last Name: ', 'lastName')
            div.submitInside
                button(type='submit') SUBMIT
        a(href='/users') Go To User Table
