
include header
body
    div#containsAll
        h1= user.userName
        h2 UserID: #{uid}
        form.colForm(action='/users/'+uid, method='post')
            +textInputW-Value('Username: ', 'userName', user.userName)
            +emailInputW-Value('Email: ', 'email', user.email)
            +ageInputW-Value('Age: ', 'age', user.age)
            +textInputW-Value('First Name: ', 'firstName', user.firstName)
            +textInputW-Value('Last Name: ', 'lastName', user.lastName)
            button(type="submit") SUBMIT
    a(href='/users') Back to User Table
